.action_tool_bar {
    flex-wrap: wrap;
}
.action_tool_bar > button {
    margin: 8px;
}


.inline_list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user_action_select_card {
    font-size: 1.2em;
    text-align: center;
    border: "1px solid #ccc";
    border-radius: "8px";
    min-width: 3em;
    margin: 8px;
}

.user_action_select_card:hover{
    background-color: green;
}
.user_action_select_card:hover > Button {
    color: white;
}



.user_action_select_card > Button {
    text-align: center;
}